.button {
    transition: background-color 200ms;

    cursor: pointer;

    color: #212121;
    border: 0;
    border-radius: 4px;
    outline: 0;
}

.buttonSizeSmall {
    padding: 10px;

    font-size: 14px;
}

.buttonSizeMedium {
    padding: 14px;

    font-size: 18px;
}

.buttonSizeLarge {
    padding: 20px;

    font-size: 24px;
}

.buttonThemePrimary {
    background-color: lightsteelblue;
}

.buttonThemePrimary:hover {
    color: white;
    background-color: steelblue;
}

.buttonThemePrimary:active {
    color: white;
    background-color: darkblue;
}

.buttonThemeDefault {
    background-color: lightgray;
}

.buttonThemeDefault:hover {
    color: white;
    background-color: darkgray;
}

.buttonThemeDefault:active {
    color: white;
    background-color: dimgray;
}

.buttonRotate30 {
    transform: rotate(-30);
}

.buttonRotate60 {
    transform: rotate(-60);
}

.buttonRotate90 {
    transform: rotate(-90);
}

.buttonRotate120 {
    transform: rotate(-120);
}

.buttonRotate150 {
    transform: rotate(-150);
}

.buttonRotate180 {
    transform: rotate(-180);
}

.buttonRotate210 {
    transform: rotate(-210);
}

.buttonRotate240 {
    transform: rotate(-240);
}

.buttonRotate270 {
    transform: rotate(-270);
}

.buttonRotate300 {
    transform: rotate(-300);
}

.buttonRotate330 {
    transform: rotate(-330);
}

.buttonRotate360 {
    transform: rotate(-360);
}