.button {
    transition: background-color 200ms;

    cursor: pointer;

    color: #212121;
    border: 0;
    border-radius: 4px;
    outline: 0;
}

.buttonSizeSmall {
    padding: 10px;

    font-size: 14px;
}

.buttonSizeMedium {
    padding: 14px;

    font-size: 18px;
}

.buttonSizeLarge {
    padding: 20px;

    font-size: 24px;
}

.buttonThemePrimary {
    background-color: lightsteelblue;
}

.buttonThemePrimary:hover {
    color: white;
    background-color: steelblue;
}

.buttonThemePrimary:active {
    color: white;
    background-color: darkblue;
}

.buttonThemeDefault {
    background-color: lightgray;
}

.buttonThemeDefault:hover {
    color: white;
    background-color: darkgray;
}

.buttonThemeDefault:active {
    color: white;
    background-color: dimgray;
}

.buttonRotate {
    display: inline-block;
    transform-origin: center center;
}

.buttonRotate30 {
    transform: rotate(-30deg);
}

.buttonRotate60 {
    transform: rotate(-60deg);
}

.buttonRotate90 {
    transform: rotate(-90deg);
}

.buttonRotate120 {
    transform: rotate(-120deg);
}

.buttonRotate150 {
    transform: rotate(-150deg);
}

.buttonRotate180 {
    transform: rotate(-180deg);
}

.buttonRotate210 {
    transform: rotate(-210deg);
}

.buttonRotate240 {
    transform: rotate(-240deg);
}

.buttonRotate270 {
    transform: rotate(-270deg);
}

.buttonRotate300 {
    transform: rotate(-300deg);
}

.buttonRotate330 {
    transform: rotate(-330deg);
}

.buttonRotate360 {
    transform: rotate(-360deg);
}